# --- Python / Django ---
# Folder Virtual Environment (JANGAN di-upload)
venv/
.venv/

# Cache Python
__pycache__/
*.pyc

# Database lokal (JANGAN di-upload)
*.sqlite3
db.sqlite3

# File Rahasia (Berisi password database, dll)
.env
*.env


# --- Node.js / React (Vite) ---
# Folder Library (SANGAT BESAR, JANGAN di-upload)
node_modules/

# Hasil 'npm run build'
dist/

# Cache Vite
.vite/

# File Rahasia Frontend
.env.local
.env.*.local

# Log Error
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# --- Sistem Operasi & IDE ---
# Mac
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains (PyCharm, WebStorm)
.idea/
